calendar-bot/Agente telegram agendamiento calendar+ RAG.json
{
  "name": "Agente telegram agendamiento calendar+ RAG",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        448,
        592
      ],
      "id": "3eca7886-36e3-4c71-aadd-acb11e4d1ae8",
      "name": "Telegram Trigger",
      "webhookId": "ID_WEBHOOK_TELEGRAM_REMPLAZAR",
      "credentials": {
        "telegramApi": {
          "id": "ID_CREDENTIALS_TELEGRAM",
          "name": "bot n8n ed5"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b21a4b20-0d53-4500-95c4-ebb29aa7823f",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f01b0c53-0531-4f8a-9ae5-629969593dc3",
                    "leftValue": "={{ $json.message.photo[0].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagen"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        672,
        560
      ],
      "id": "1bd5cf95-8fa4-4273-8704-379b638219b4",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cacf4857-27e1-453d-aa1f-5fee889bc07c",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        112
      ],
      "id": "59a83f6d-3fce-4dca-88ba-7abbf105ea31",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6372787-ec9c-41f1-9e15-0f0b9ce951fa",
              "name": "image_file_id",
              "value": "={{ $json.message.photo[0].file_id }}",
              "type": "string"
            },
            {
              "id": "f854e868-a85d-419a-b33c-116a73e6ebef",
              "name": "caption",
              "value": "={{ $json.message.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        752
      ],
      "id": "802bef7b-f99d-4b34-8077-a4da0d31d341",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1760,
        752
      ],
      "id": "5ceb8c5a-9412-45bd-b634-37e9ac497aee",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "={{ $('Telegram (Get file)').item.json.result.file_path }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2032,
        752
      ],
      "id": "00ad3a25-d4e4-4e8b-8ba2-42827b3bddf8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ada205d8-55d5-40a4-8d1c-3225ee8be0cf",
              "name": "text",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        752
      ],
      "id": "6beabd8a-1f33-412f-b5d8-7229db0646c0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "chatId": "={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "No fue posible entender el mensaje",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        1120
      ],
      "id": "dc3f557d-67d1-4988-b0b7-3d70ed37d52d",
      "name": "Telegram2",
      "webhookId": "ID_WEBHOOK_TELEGRAM_REMPLAZAR",
      "credentials": {
        "telegramApi": {
          "id": "ID_CREDENTIALS_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3792,
        128
      ],
      "id": "c1ba6ce2-daca-4560-ac15-ea10ca8eccd0",
      "name": "Telegram3",
      "webhookId": "ID_WEBHOOK_TELEGRAM_REMPLAZAR",
      "credentials": {
        "telegramApi": {
          "id": "ID_CREDENTIALS_TELEGRAM",
          "name": "bot n8n ed5"
        }
      }
    },
    {
      "parameters": {
        "content": "## Flujo de Texto",
        "height": 260,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        32
      ],
      "typeVersion": 1,
      "id": "299267c0-0f77-4ae0-8479-8aba1b19e1b2",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Flujo de Audio",
        "height": 260,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        352
      ],
      "typeVersion": 1,
      "id": "23c57426-ab77-47a2-a13d-a6a5bc4a023e",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Flujo de Imagen",
        "height": 280,
        "width": 1600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        672
      ],
      "typeVersion": 1,
      "id": "943856ed-2c20-41e6-93c3-0a652632320a",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Flujo de Fallback",
        "height": 260,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        1040
      ],
      "typeVersion": 1,
      "id": "bddb4caa-86f5-4ee4-9ec5-b7ead802d227",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Responde el mensaje en Telegram",
        "height": 280,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3648,
        32
      ],
      "typeVersion": 1,
      "id": "c6dcaa9b-ff35-4c46-846d-56606bc1f2d2",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Eres mi asistente personal.\n\nHerramientas:\n\nHerramienta 1: Agente de programación – Utiliza esta herramienta para crear, borrar, obtener 1 evento, obtener muchos eventos o editar o actualizar eventos en el Google Calendar. Para poder ejecutar estas tools de calendario tienes que ver siempre la tools de Hora y Fecha para que sepas la hora y fecha actual. Además si en caso necesites saber la hora y fecha en la conversación puedes usar la tool de Hora y Fecha.\n\nHerramienta 2: Almacén vectorial – Utiliza esta herramienta para buscar información en el almacén vectorial sobre base de conocimientos."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2960,
        112
      ],
      "id": "0731d5be-9b82-4ff4-90c0-2535e039b690",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2816,
        304
      ],
      "id": "47073608-20d5-4260-924c-7214308b4e15",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ID_CREDENTIALS_OPENAI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2960,
        400
      ],
      "id": "4aeca5a1-f888-4d5f-b196-ecabbb5a754f",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "AgenteDeAgendamento",
        "description": "Utiliza esta herramienta cuando el usuario necesite buscar, crear o modificar algún evento en la agenda de Google Calendar.",
        "workflowId": {
          "__rl": true,
          "value": "ID_DE_TU_SUBFLUJO",
          "mode": "list",
          "cachedResultName": "Subflujo Agente telegram + RAG + MCP"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        3072,
        512
      ],
      "id": "b8347462-7b3e-48f9-85c1-51854b0e99fb",
      "name": "Agente de Agendamiento (Call n8n Workflow Tool)"
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contiene todos los documentos del usuario que puedes consultar para obtener contexto y responder a las preguntas del usuario."
      },
      "id": "d19fc025-e7f8-41a0-ae0d-e042b15a6705",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        3712,
        400
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "9e976619-3372-4201-a038-4ab672f2cf18",
      "name": "OpenAI Chat Model Documents",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4000,
        640
      ],
      "credentials": {
        "openAiApi": {
          "id": "ID_CREDENTIALS_OPENAI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "23faff3b-b6dd-4d9f-8468-23e69e9d44e6",
      "name": "Embeddings OpenAI Agent",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        3600,
        864
      ],
      "credentials": {
        "openAiApi": {
          "id": "ID_CREDENTIALS_OPENAI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "33556eda-8958-4ee1-90a6-6716854163f9",
      "name": "Supabase Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        3600,
        640
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ID_CREDENTIALS_SUPABASE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Recibe Mensaje de Telegram",
        "height": 280,
        "width": 340,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        480
      ],
      "typeVersion": 1,
      "id": "b931efc8-ce6c-452b-96b3-8a78f3e134e4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analiza esa imagen para mi",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2272,
        752
      ],
      "id": "afeffd76-e09d-46c4-99ac-d5e91f7ae646",
      "name": "OpenAI - Image",
      "credentials": {
        "openAiApi": {
          "id": "ID_CREDENTIALS_OPENAI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1520,
        432
      ],
      "id": "de090378-3a90-41ce-b3c7-a99cfbae0875",
      "name": "OpenAI - Audio",
      "credentials": {
        "openAiApi": {
          "id": "ID_CREDENTIALS_OPENAI",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.image_file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        752
      ],
      "id": "45cefb7a-b217-4839-a8f3-4857bad0769d",
      "name": "Telegram (Get file)",
      "webhookId": "ID_WEBHOOK_TELEGRAM_REMPLAZAR",
      "credentials": {
        "telegramApi": {
          "id": "ID_CREDENTIALS_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"voice\"][\"file_id\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        432
      ],
      "id": "87f77dfe-a2b3-42f0-9d30-74f99b52495a",
      "name": "Telegram (Get file)1",
      "webhookId": "ID_WEBHOOK_TELEGRAM_REMPLAZAR",
      "credentials": {
        "telegramApi": {
          "id": "ID_CREDENTIALS_TELEGRAM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## RAG",
        "height": 680,
        "width": 620,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3520,
        352
      ],
      "id": "8b57722c-55bd-43c4-af33-612197205e7d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sseEndpoint": "https://TU_INSTANCIA_N8N/mcp/ID_SEGURIDAD/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        3312,
        2160
      ],
      "id": "605cc9a7-2266-4cb2-b18f-043eed229ff5",
      "name": "MCP Client"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram (Get file)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Telegram (Get file)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI - Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Agendamiento (Call n8n Workflow Tool)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Documents": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI Agent": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Audio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram (Get file)": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram (Get file)1": {
      "main": [
        [
          {
            "node": "OpenAI - Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "b12864c5-5bc6-48f4-aae2-e2e39e22d712",
  "meta": {
    "instanceId": "INSTANCIA_REMPLAZAR"
  },
  "id": "ryGrhPkmK4x5Kgdg",
  "tags": [
    {
      "createdAt": "2025-07-26T16:40:03.320Z",
      "updatedAt": "2025-07-26T16:40:03.320Z",
      "id": "KsoZnSVzxx1yf48U",
      "name": "Telegram"
    },
    {
      "createdAt": "2025-07-26T16:40:16.054Z",
      "updatedAt": "2025-07-26T16:40:16.054Z",
      "id": "RutajlBZhxsyi8Z4",
      "name": "Agendameinto"
    },
    {
      "createdAt": "2025-06-29T14:50:31.200Z",
      "updatedAt": "2025-06-29T14:50:31.200Z",
      "id": "lqFgi9HFYFmCkO8Z",
      "name": "RAG"
    }
  ]
}