crm-gestion/Agente IA de Gestión CRM _kommo.json
{
  "name": "Agente IA de Gestión CRM *kommo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db656619-6882-4409-9d53-6043add56a1b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        560
      ],
      "id": "e2c10eeb-579f-4198-87ec-54832eca3aca",
      "name": "Webhook",
      "webhookId": "WEBHOOK_ANONIMO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e46a8da2-69ac-4342-80a1-82717a621e5e",
              "name": "Datos del Lead",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        560
      ],
      "id": "c86e56bf-34e5-474e-832c-cc89b8892fdf",
      "name": "Convertimos a Objeto"
    },
    {
      "parameters": {
        "content": "## Texto",
        "height": 240,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -16
      ],
      "id": "356a4b77-78e3-46f2-b93a-2b549ba4d0cf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Audio",
        "height": 240,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        304
      ],
      "id": "cd5b6a28-6711-4aa7-8168-78b61d771ad3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Imagen",
        "height": 240,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        688
      ],
      "id": "1ab00427-126d-40a1-89fe-7fb45885a884",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5562eaaa-9052-4e94-903e-43e868598721",
              "name": "chatInput",
              "value": "={{ $('Webhook').item.json.body['message[add][0][text]'] }}",
              "type": "string"
            },
            {
              "id": "708b1e06-4e25-418c-9264-c6147dbf51ad",
              "name": "id-del-lead",
              "value": "={{ $json['Datos del Lead'].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        64
      ],
      "id": "63d04b45-a6a5-4fff-83c0-686f199ec67c",
      "name": "Preparamos para mi AI Agent"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "{\n  \"parrafos\": [\n    \"Eres Kenny, la asistente virtual de PraxIA Solutions, una agencia de consultoría de Inteligencia Artificial y Automatizaciones.\",\n    \"Tu personalidad debe ser dinámica, proactiva, cercana y siempre incentivar al usuario a conocer más sobre nuestros servicios. Responde siempre en español y utiliza emojis en las respuestas para transmitir cercanía.\",\n    \"Al iniciar la conversación, siempre saluda con: 'Hola, soy Kenny, asistente virtual de PraxIA, agencia de consultoría de Inteligencia Artificial y Automatizaciones, ¿En qué puedo ayudarte hoy?'.\",\n    \"Resuelve todas las dudas relacionadas con PraxIA Solutions utilizando la base de datos de la empresa. No respondas preguntas que no estén relacionadas con PraxIA o PraxIA Solutions.\",\n    \"Dirige la conversación hacia entender y evaluar las necesidades del cliente: responde sus consultas y haz preguntas relacionadas con la base de conocimientos para identificar si podemos ofrecerle el servicio adecuado.\",\n    \"Cuando el usuario lo solicite, ofrece detalles sobre quiénes somos, qué experiencia tenemos, nuestros servicios, los sectores en los que hemos trabajado y nuestros casos de éxito.\",\n    \"Si el cliente ya ha dado la información necesaria o tiene preguntas adicionales que no puedas resolver directamente, invítalo a agendar una reunión con un asesor a través del siguiente enlace: 👉 https://calendly.com/tu-usuario/30min. Recuerda que tú no agendas reuniones directamente.\",\n    \"En caso de que el usuario pida explícitamente comunicarse con un asesor o con una persona, debes activar la tool de 'reagendamiento' y luego responder que ya ha sido reagendado con un asesor y que en breve se comunicarán con él.\",\n    \"Siempre entrega las respuestas en formato JSON con la siguiente estructura estricta: { \\\"parrafos\\\": [ \\\"primer párrafo aquí\\\", \\\"segundo párrafo aquí\\\", ... ] }.\",\n    \"No escribas nunca nada fuera del JSON.\"\n  ]\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        816,
        -144
      ],
      "id": "f51f9ed2-35c5-43f9-a611-cad207375d95",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        704,
        144
      ],
      "id": "0b2af3f5-9fb2-43d6-b2a7-85cbe5541755",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cFa64Rg3uKe0m8H4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a66d0189-77d5-4dbf-b9bd-9c87414a3994",
              "leftValue": "={{ $('Webhook').item.json.body['message[add][0][text]'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        464
      ],
      "id": "475d539b-5c38-45dd-b96e-5c2f304bb95b",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body['message[add][0][attachment][type]'] }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "20f9ec0e-a304-4c71-94a8-65040a1e1598"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e5885c6-85e0-4b94-a53e-23d74962a4f3",
                    "leftValue": "={{ $('Webhook').item.json.body['message[add][0][attachment][type]'] }}",
                    "rightValue": "picture",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        672
      ],
      "id": "f16c65ca-471c-44a0-9478-3e9ee8b6d57e",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body['message[add][0][attachment][link]'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        368
      ],
      "id": "84a27835-9fe5-4481-984f-21f4a02ec83b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        368
      ],
      "id": "4c70de8e-82b8-4076-899a-f313572f532f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "cFa64Rg3uKe0m8H4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "574f4955-d97c-418d-afba-9c3e548fe20a",
              "name": "chatInput",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        368
      ],
      "id": "e22f9f4f-e790-4330-9b5e-c755b6716723",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body['message[add][0][attachment][link]'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        768
      ],
      "id": "261c84f9-7b85-405a-9d8d-92420c9c8e74",
      "name": "Descarga de la Imagen"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Describeme qué es lo que estás viendo en esa imagen. Si es pago, dime de cuánto es el pago.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        768
      ],
      "id": "3435cf83-6b57-45b0-8b12-503f20d045b2",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "cFa64Rg3uKe0m8H4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a10403e7-c3ba-4686-943b-830d41dbd297",
              "name": "chatInput",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        768
      ],
      "id": "9da8fb43-6fb1-429a-98c1-19ccaa5f4b0d",
      "name": "Formato de Entrada al AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        992
      ],
      "id": "80ead7b8-4734-461e-97cd-3c45b06cb997",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "cFa64Rg3uKe0m8H4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Obtener Custom Fields List",
        "height": 300,
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1424,
        -1056
      ],
      "id": "e2e0a3c1-90cb-48ee-9dbe-f0b4c0429770",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"parrafos\": [\n    \"texto 1\",\n    \"texto 2\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1328,
        80
      ],
      "id": "6fcc225a-8be5-4b9c-ac8a-312dd6b482d6",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.parrafos",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1472,
        144
      ],
      "id": "fc1748a9-027d-41a7-b739-b168a0c172bc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "output.parrafos",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1648,
        144
      ],
      "id": "a9c34be7-97c8-47f3-8ad5-efde50c34555",
      "name": "Sort"
    },
    {
      "parameters": {
        "toolDescription": "Cuando el cliente o usuario quiera comunicarse con un asesor",
        "method": "PATCH",
        "url": "=https://TU_SUBDOMINIO.kommo.com/api/v4/leads/{{ $('Preparamos para mi AI Agent').item.json['id-del-lead'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer TOKEN_REMPLAZAR"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_fields_values\": [\n    {\n      \"field_id\": 168614,\n      \"values\": [\n        { \"value\": false }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        944,
        144
      ],
      "id": "171014a0-92ea-436d-babc-24e4693fbe72",
      "name": "Reagendamiento"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        144
      ],
      "id": "2a66ef5c-ad84-4476-beba-aa2742c4f847",
      "name": "Wait",
      "webhookId": "WEBHOOK_ANONIMO"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1808,
        160
      ],
      "id": "d47cdde6-f402-4505-88d7-d7ea748ce886",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://TU_SUBDOMINIO.kommo.com/api/v4/leads/{{ $('Webhook').item.json.body['message[add][0][entity_id]'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer TOKEN_REMPLAZAR"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_fields_values\": [\n    {\n      \"field_id\": 168564,\n      \"values\": [\n        {\n          \"value\": \"{{ $json['output.parrafos'] }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1984,
        160
      ],
      "id": "47607113-bf24-4c3a-a88a-8afe79c58d1e",
      "name": "PATCH para el Mensaje del Chatbot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd34ded4-e27b-4907-a179-c17be9b98aaa",
              "leftValue": "={{ $json['Datos del Lead'].custom_fields_values[1].values[0].value }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ee6013db-2814-47d1-9e32-4bfa29fea607",
              "leftValue": "={{ $json['Datos del Lead'].custom_fields_values[1].field_name }}",
              "rightValue": "Transferir a un asesor",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        560
      ],
      "id": "cb773d31-f1f8-468b-baf0-a22a4599bce1",
      "name": "If switch CRM"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -448,
        672
      ],
      "id": "91998dfb-919d-477f-bf15-0495b15327eb",
      "name": "Atención por Asesor"
    },
    {
      "parameters": {
        "url": "=https://TU_SUBDOMINIO.kommo.com/api/v4/leads/{{ $json.body['message[add][0][entity_id]'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer TOKEN_REMPLAZAR"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        560
      ],
      "id": "7bde064b-a9b6-4fb4-8312-d3cf4b39d2d6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "2b1e9bed-020b-4b5b-9784-2ce58cc978f5",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -448,
        2208
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "2d3ad217-a0d1-4e19-9f9d-57b34b76ec64",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1216,
        1984
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sGFVhMuySogxvJN4",
          "name": "Drive Praxia"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "ee70d75c-d563-402f-a0c2-b03b186b251a",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -256,
        2320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8d7e2c49-04e9-4b4f-8eef-e0993a3cd99d",
      "name": "Set File ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        1984
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "1bc46cdf-c3dc-48e2-b121-733742843c8c",
      "name": "Extract Document",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -784,
        1792
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents_praxia",
          "mode": "list",
          "cachedResultName": "documents_praxia"
        },
        "options": {
          "queryName": "match_documents_praxia"
        }
      },
      "id": "41450f42-4264-4bf0-bd31-ceb10ea78d55",
      "name": "Insert into vector store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -528,
        1984
      ],
      "credentials": {
        "supabaseApi": {
          "id": "x8Kj7rsv7fIKPeHI",
          "name": "RAG PraxIA supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87dceac7-f935-4bf4-85eb-6ecc5c549a86",
              "leftValue": "={{ $('File Updated').item.json.name }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            },
            {
              "id": "b47738dd-0c40-4966-b03f-159bb40ba2be",
              "leftValue": "={{ $('File Updated').item.json.fullFileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "dfe656b1-e649-4351-ba6e-c5c52f8b45e1",
              "leftValue": "={{ $('File Updated').item.json.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1008,
        1792
      ],
      "id": "b3a7ad5c-a3b4-478b-9573-92f54df67d60",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87dceac7-f935-4bf4-85eb-6ecc5c549a86",
              "leftValue": "={{ $('File Updated').item.json.exportLinks['text/plain'] }}",
              "rightValue": "drive#file",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1008,
        1984
      ],
      "id": "ebf80a08-9cc5-47e8-9e92-32e71f6ed25a",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "e860c857-2b9a-404f-ab4b-970ed2cc46c5",
      "name": "Extract Document1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -784,
        1984
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "87dceac7-f935-4bf4-85eb-6ecc5c549a86",
              "leftValue": "={{ $('File Updated').item.json.exportLinks['text/csv'] }}",
              "rightValue": "csv",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1008,
        2192
      ],
      "id": "685b0da7-9659-4341-a5ec-1695f5b22714",
      "name": "Filter2"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5d89d739-183a-4c34-abf4-1fdebd983de2",
      "name": "Extract Document2",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -784,
        2192
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://TU_SUBDOMINIO.kommo.com/api/v2/salesbot/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer TOKEN_REMPLAZAR"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"bot_id\": 5324,\n    \"entity_id\": {{ $('Webhook').item.json.body['message[add][0][entity_id]'] }},\n    \"entity_type\": \"2\"\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        144
      ],
      "id": "31715ab5-072a-4ea1-b4ef-97c9d427957e",
      "name": "Envío del mensaje"
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contiene todos los documentos del usuario que puedes consultar para obtener contexto y responder a las preguntas del usuario.",
        "topK": 15
      },
      "id": "5f29e613-71c1-4d8c-a644-57c5579b041b",
      "name": "Retrieve Documents1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1040,
        112
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "cc1c191c-0a24-432e-87ae-0ee815aad756",
      "name": "Embeddings OpenAI Agent1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1008,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "cFa64Rg3uKe0m8H4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents_praxia",
          "mode": "list",
          "cachedResultName": "documents_praxia"
        },
        "options": {
          "queryName": "match_documents_praxia"
        }
      },
      "id": "c2babd6f-2840-4bb9-829e-5a4924da3329",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        912,
        352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "x8Kj7rsv7fIKPeHI",
          "name": "RAG PraxIA supabase"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        352
      ],
      "id": "7bfe85f8-4d2e-4808-b4eb-552e452a5b1e",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "cFa64Rg3uKe0m8H4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Eres el encargado de analizar los datos de entrada, corroborando que sean parte de un pago a una suscripción. Si es pago es efectivamente de 20 dólares, entonces vas a enviar un mensaje de satisfacción y vas agradecer por haberse suscrito a nuestra comunidad."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        912,
        768
      ],
      "id": "728be71f-4296-4185-8d78-42da39d07e69",
      "name": "AI Agent - Pagos"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json['id-del-lead'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        832,
        144
      ],
      "id": "458c6175-f934-46bd-bc50-e2791c7584ab",
      "name": "Memory"
    },
    {
      "parameters": {
        "url": "https://TU_SUBDOMINIO.kommo.com/api/v4/leads/custom_fields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer TOKEN_REMPLAZAR"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1248,
        -928
      ],
      "id": "cb80e867-92da-4316-9393-35af4dcdead1",
      "name": "Obtener Custom Field"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac68099f-1b48-4f32-a977-2cc26dd63cd9",
              "name": "Datos de Custom Fields",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -928
      ],
      "id": "87d42ead-e3da-416b-8117-f19aafa1e691",
      "name": "Convertimos a Formato Object"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "53d3c8a2-3176-411e-adb2-3c910f611d66",
      "name": "Embeddings ",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -560,
        2208
      ],
      "credentials": {
        "openAiApi": {
          "id": "cFa64Rg3uKe0m8H4",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertimos a Objeto": {
      "main": [
        [
          {
            "node": "If switch CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparamos para mi AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Preparamos para mi AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descarga de la Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descarga de la Imagen": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Formato de Entrada al AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formato de Entrada al AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent - Pagos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Pagos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reagendamiento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "PATCH para el Mensaje del Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PATCH para el Mensaje del Chatbot": {
      "main": [
        [
          {
            "node": "Envío del mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If switch CRM": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atención por Asesor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convertimos a Objeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into vector store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document": {
      "main": [
        [
          {
            "node": "Insert into vector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Extract Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Extract Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document1": {
      "main": [
        [
          {
            "node": "Insert into vector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Extract Document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document2": {
      "main": [
        [
          {
            "node": "Insert into vector store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envío del mensaje": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Documents1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI Agent1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Retrieve Documents1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Retrieve Documents1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Custom Field": {
      "main": [
        [
          {
            "node": "Convertimos a Formato Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings ": {
      "ai_embedding": [
        [
          {
            "node": "Insert into vector store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b26e1e43-f58c-4d83-b140-06af73699483",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "90074a29af515b5d8acf41223084cfe070a1020ec6ff38ab31e5dba175f6f80c"
  },
  "id": "ulNI85bUY4gAzJOf",
  "tags": [
    {
      "createdAt": "2025-08-17T16:25:38.747Z",
      "updatedAt": "2025-08-17T16:25:38.747Z",
      "id": "6EkTSl0kVj398c4X",
      "name": "PRAXIA"
    },
    {
      "createdAt": "2025-06-29T22:24:43.822Z",
      "updatedAt": "2025-06-29T22:24:43.822Z",
      "id": "LQSGl8Vvd7ebhzEl",
      "name": "Funcional"
    },
    {
      "createdAt": "2025-07-01T01:02:46.432Z",
      "updatedAt": "2025-07-01T01:02:46.432Z",
      "id": "iVqyIxJ4iI7SQ1bO",
      "name": "CHATBOT"
    },
    {
      "createdAt": "2025-07-01T01:02:27.730Z",
      "updatedAt": "2025-07-01T01:02:27.730Z",
      "id": "q3CrwEr0FHAyK3Kc",
      "name": "CRM"
    }
  ]
}